.animation {
    animation: ckeck .5s ease-in 0 1;
}

@keyframes check {
    0% {
        width: 1px;
        height: 1px;
    }
    50% {
        width: 6px;
        height: 6px;
    }
    100% {
        width: 12px;
        height: 12px;
    }
}